{% extends 'base.html' %}

{% block title %}
<title>信息|分数统计</title>
<style>
a{
    display:block;
}
</style>
{% endblock %}

{% block body %}
<div class='card'>
    <div class='subtitle'>历年分数统计（贵州省）</div>
    <div class='subcontent'>
        <a href='http://www.eaagz.org.cn/2018/0930/c76a4446/page.htm'>2018年高考分数段统计表</a>
        <a href='http://www.eaagz.org.cn/2017/0625/c76a3642/page.htm'>2017年高考分数段统计表(文)</a>
        <a href='http://www.eaagz.org.cn/2017/0625/c76a3643/page.htm'>2017年高考分数段统计表(理)</a>
        <a href='http://www.eaagz.org.cn/2016/0624/c76a3334/page.htm'>2016年高考分数段统计表</a>
        <a href='http://www.eaagz.org.cn/2015/0624/c76a3071/page.htm'>2015年高考分数段统计表</a>
        <a href='http://www.eaagz.org.cn/2018/0504/c76a3912/page.htm'>2018年适应性考试成绩统计表</a>
        <a href='http://www.eaagz.org.cn/2017/0426/c76a3626/page.htm'>2017年适应性考试成绩统计表</a>
        <a href='http://www.eaagz.org.cn/2016/0426/c76a3319/page.htm'>2016年适应性考试成绩统计表</a>
        <a href='http://www.eaagz.org.cn/2015/0515/c76a3064/page.htm'>2015年适应性考试成绩统计表</a>
    </div>
</div>
{% endblock %}
