{% extends 'base.html' %}

{% block title %}
<title>关于</title>
{% endblock %}

{% block body %}
<div class='card'>
    <div class='subtitle'>关于</div>
    <div class='subcontent'>
        本站为了能够多苟一会儿，<br>
        尽可能减少爬取操作而本地缓存，<br>
        所以 <del>bug</del> feature 比功能多，<br>
        响应比学校网速慢，还请谅解<br>
        <br><hr><br>
        仅作学习用途，不商用无广告添加。<br>
        如有侵犯到您的权益，请即刻联系删除。<br>
        email: captainmorch@gyyz.top<br>
    </div>
</div>
<div class='card'>
    <div class='subtitle'>下面是信仰</div>
    <div class='subcontent'>
        Life is short,I choose Python!
        <br><hr><br>
        A Website Powered by Django.
        <br><hr><br>
        不过坠吼的是...
        <br><br>
        很惭愧，只做了一点微小的贡献□..□
    </div>
</div>
{% endblock %}
